@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 200vh;
}

.nav-link:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.nav-link {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.titulos {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.titulos2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.alquiler {
    height: 110vh;
    background-image: url("../img/cancha1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.alquiler2 {
    height: 50vh;
}

.cards-content {
    position: relative;
    top: -10rem;
}

.alquiler2 .card {
    height: 380px;
}

/* PARA TIME LINE */
.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}


/* PARA SOBRE NOSOTROS */
.icon_about {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}

.contact-i {
    background: rgb(27, 142, 89);
}

/* PARA CONTACTO */
.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1rem;
    margin: 10px 0px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 22px;
    pointer-events: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.50);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.inputBox textarea:valid~span,
.inputBox textarea:focus~span {
    color: white;
    transform: translateX(10px) translateY(2px);
    -webkit-transform: translateX(10px) translateY(2px);
    -moz-transform: translateX(10px) translateY(2px);
    -ms-transform: translateX(10px) translateY(2px);
    -o-transform: translateX(10px) translateY(2px);
    font-size: .75rem;
    padding: 0 10px;
    background: rgb(27, 142, 89);
}

#mapa {
    width: 100%;
    height: 50vh;
}

.ui-timepicker-container {
    z-index: 9999 !important;
}

form input:required {
    content: "*";
    border-bottom: 1px solid #aa0000;
}

/* ***********************PARA TARJETA******************** */

/* Background circles end */

#tipoPago1 .card-group {
    position: relative;
    width: 100%;
}

#tipoPago1 .card {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 25px;
    background: #1488cc;
    /* fallback for old browsers */
    background: linear-gradient(to left, #283593, #1976d2);
    /* backdrop-filter: blur(30px); */
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#tipoPago1 .logo img,
#tipoPago1 .chip img,
#tipoPago1 .number,
#tipoPago1 .name,
#tipoPago1 .from,
#tipoPago1 .to,
#tipoPago1 .ring {
    position: absolute;
    /* All items inside card should have absolute position */
}

#tipoPago1 .logo img {
    top: 35px;
    right: 40px;
    width: 80px;
    height: auto;
    opacity: 0.8;
}

#tipoPago1 .chip img {
    top: 120px;
    left: 40px;
    width: 50px;
    height: auto;
    opacity: 0.8;
}

#tipoPago1 .number,
#tipoPago1 .name,
#tipoPago1 .from,
#tipoPago1 .to {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

#tipoPago1 .number {
    left: 40px;
    bottom: 65px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}

#tipoPago1 .name {
    font-size: 0.5rem;
    left: 40px;
    bottom: 35px;
}

#tipoPago1 .from {
    font-size: 0.7rem;
    bottom: 35px;
    right: 110px;
}

#tipoPago1 .to {
    font-size: 0.7rem;
    bottom: 35px;
    right: 40px;
}

/* The two rings on the card background */
#tipoPago1 .ring {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: transparent;
    border: 50px solid rgba(255, 255, 255, 0.1);
    bottom: -250px;
    right: -250px;
    box-sizing: border-box;
}

#tipoPago1 .ring::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: transparent;
    border: 30px solid rgba(255, 255, 255, 0.1);
    bottom: -80px;
    right: -110px;
    box-sizing: border-box;
}

/* PARA SELECTOR CON LUZ */
#formReserva input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 20px;
    margin: 0px 5px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#formReserva input:checked[type="checkbox"] {
    background: #03a9f4;
}

#formReserva input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#formReserva input:checked[type="checkbox"]:before {
    left: 20px;
}

/* Para loader */
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(175, 173, 173, 0.75) url("/assets/img/spinner.svg") no-repeat center center;
    background-size: 100px;
    z-index: 99999;
}

#loader2 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255) url("/assets/img/spinner.svg") no-repeat center center;
    background-size: 100px;
    z-index: 99999;
}

.hidden{
    overflow: hidden;
}